.tweetBox {
   padding-bottom: 10px;
   padding-right: 10px;
   border-bottom: 8px solid var(--twitter-background);
}

.tweetBox>form {
   display: flex;
   flex-direction: column;
}

/* input wrapper */
.tweetBox__input {
   display: flex;
   padding: 20px;
}

/* input form */
.tweetBox__input>input {
   flex: 1;
   font-size: 20px;
   margin-left: 20px;
   border: none;
}

.tweetBox__imageInput {
   border: none;
   padding: 20px;
}

.tweetBox__tweet {
   background-color: var(--twitter-color) !important;
   color: white !important;
   font-weight: 900 !important;
   border: none !important;
   border-radius: 30px !important;
   text-transform: inherit !important;
   width: 80px;
   height: 40px !important;
   margin-top: 20px !important;
   margin-left: auto !important;
}